@{
    ViewBag.Title = "PageNotFound";
}



<h3 class="alert-info" style="width:560px">You typed: @ViewBag.error_path</h3>

<pre style="padding:25px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:large">
    Sorry!
    The page you are looking for is not found.
</pre>